@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

@theme {
  /* Pri 색상 계열 */
  --color-pri-900: #030f0f;
  --color-pri-800: #071d1e;
  --color-pri-700: #0b2c2d;
  --color-pri-600: #103c3e;
  --color-pri-500: #154d50;
  --color-pri-400: #2f8c8e;
  --color-pri-300: #66b7b7;
  --color-pri-200: #a5dada;
  --color-pri-100: #dff4f4;

  /* Gray 색상 계열 */
  --color-gray-900: #1c1d1c;
  --color-gray-800: #393a39;
  --color-gray-700: #555755;
  --color-gray-600: #727472;
  --color-gray-500: #8e918e;
  --color-gray-400: #a5a7a5;
  --color-gray-300: #bbbdbb;
  --color-gray-200: #d2d3d2;
  --color-gray-100: #e8e9e8;
  --color-gray-50: #f2f2f2;
  --color-gray-30: #f8f8f8;
  --color-gray-10: #fdfdfd;

  /* Mild 색상 */
  --color-error: #e94e4e;
  --color-error-light: #ffefef;
  --color-success: #48bb78;
  --color-background: #f7f8f9;
  --color-skt: #3617ce;
  --color-kt: #d71826;
  --color-lguplus: #e6007e;
  --color-toss: #0064ff;
  --color-kakao: #ffeb00;
  --color-naver: #00de5a;
  --color-modal-background: #1c1d1c80;
  --color-mobile-transparent: rgba(253, 253, 253, 0.1);

  /* Gradient 색상 */
  --color-pri-gradation: linear-gradient(69deg, #1c2c3a 0%, #154d50 100%);
  --color-pri-gradation-small: linear-gradient(0deg, #1c2c3a 0%, #183d45 69%, #154d50 100%);
  --color-coupon-gradation-mb: linear-gradient(0deg, #86cfcf 0%, #baf1f1 100%);
  --color-coupon-gradation-gb: linear-gradient(0deg, #4ea4a6 0%, #7bc8ca 100%);
  --color-toss-gradation: linear-gradient(45deg, #447eff 0%, #825eff 100%);

  /* Effect 스타일 */
  --shadow-card: 0px 8px 24px rgba(170, 170, 170, 0.12);
  --shadow-coupon: 0px 2.87px 4.3px rgba(0, 0, 0, 0.1);
  --shadow-label: 0px -4px 2px rgba(0, 0, 0, 0.15);
  --shadow-receipt: 0px 4px 16px rgba(102, 102, 102, 0.08);
  --shadow-modal: 0px 8px 24px rgba(0, 0, 0, 0.08);
  --shadow-toast: 0px 3px 16px rgba(0, 0, 0, 0.08);
  --shadow-drop-down: 0px 4px 14px rgba(0, 0, 0, 0.05);
  --shadow-receipt-top: 0px 6px 16px rgba(122, 122, 122, 0.12);
  --shadow-side-filter: 0px 32px 32px -24px rgba(0, 0, 0, 0.1);
  --shadow-bid-history: 0px 12px 20px rgba(0, 0, 0, 0.2);
  --backdrop-blur-side-filter: 8px;

  --shadow-header-modal:
    0px -1px 2.5px rgba(0, 0, 0, 0.08), 0px 1px 2.5px rgba(0, 0, 0, 0.08),
    0px 1px 5px rgba(0, 0, 0, 0.08);

  --shadow-button: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 2.5px rgba(0, 0, 0, 0.08);

  --shadow-tile: 0px 2px 5px rgba(0, 0, 0, 0.03), 0px 1px 2.5px rgba(0, 0, 0, 0.03);

  /* Font Family */
  --font-pretendard: Pretendard, sans-serif;

  /* Font Weight */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* Radius */
  --radius-xs: 4px;
  --radius-custom-s: 6px;
  --radius-sm: 8px;
  --radius-custom-m: 10px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 20px;
  --radius-xxl: 24px;
  --radius-full: 9999px;

  /* Font Size */
  --text-fs10: 0.625rem;
  --text-fs12: 0.75rem;
  --text-fs14: 0.875rem;
  --text-fs16: 1rem;
  --text-fs18: 1.125rem;
  --text-fs20: 1.25rem;
  --text-fs22: 1.375rem;
  --text-fs24: 1.5rem;
  --text-fs28: 1.75rem;
  --text-fs32: 2rem;
}

@layer utilities {
  .bg-pri-gradation {
    background-image: var(--color-pri-gradation);
  }

  .bg-pri-gradation-small {
    background-image: var(--color-pri-gradation-small);
  }

  .bg-coupon-gradation-mb {
    background-image: var(--color-coupon-gradation-mb);
  }

  .bg-coupon-gradation-gb {
    background-image: var(--color-coupon-gradation-gb);
  }

  .bg-toss-gradation {
    background-image: var(--color-toss-gradation);
  }

  .effect-side-filter {
    box-shadow: var(--shadow-side-filter);
    backdrop-filter: blur(var(--backdrop-blur-side-filter));
    -webkit-backdrop-filter: blur(var(--backdrop-blur-side-filter));
  }

  .shadow-header-modal {
    box-shadow: var(--shadow-header-modal);
  }

  .shadow-button {
    box-shadow: var(--shadow-button);
  }

  .text-shadow-3d-yellow {
    text-shadow:
      1px 1px 0px #cca000,
      2px 2px 0px #cca000,
      3px 3px 0px #cca000,
      4px 4px 2px rgba(0, 0, 0, 0.3);
  }
}

body {
  font-family: var(--font-pretendard);
  color: var(--color-gray-900);
  letter-spacing: -0.02em;
  font-weight: var(--font-weight-regular);
  background-color: var(--color-background);
  line-height: 1.2;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}
button:disabled {
  cursor: not-allowed;
}

img {
  max-width: 100%;
  display: block;
}

input,
textarea {
  font-family: inherit;
  transition: 0.2s ease;
}

/* 자동 완성 배경 색상 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: black;
}

/* number input 스핀 버튼 제거 */
.input-no-spinner::-webkit-outer-spin-button,
.input-no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.Toastify__toast-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.transition-smooth {
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.button-active {
  @apply bg-pri-500 text-gray-10;
}
.button-disabled {
  @apply bg-gray-50 text-gray-500;
}

.swiper-pagination-bullet {
  background-color: var(--color-gray-200);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-pri-500);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
